{% extends 'layout.html' %}

{% block body %}

    <h1> New Recipe </h1>

    <form id="r_form" action="#" method="post">
        <div class="form-group">
           <label for="title">Title:</label>
           <input type="text" maxlength="100" name="title" placeholder="Title for the recipe"/><br><br>

           <label for="ingredients">Ingredients:</label>
           <input maxlength="1000" name="ingredients" placeholder="Ingredients"/><br><br>

           <label for="instructions">Instructions:</label>
           <input maxlength="1000" name="instructions" placeholder="Instructions"/><br><br>
           <!--<textarea name="instructions" form="r_form">Instructions...</textarea><br><br>-->
           
           <button type="submit">Create</button>
        </div>
    </form>


{% endblock %}
