{% extends 'layout.html' %}

{% block body %}
    <font color="white">

    <h2>{{ app_data['html_title'] }}</h2>

    <style>

    * {
        box-sizing: border-box;
    }

    .column{
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 1600px;
    }
    
    .column2{
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 400px;
    }

    .column3{
        float: left;
        width: 50%;
        padding: 10px;
        height: 500;
    }

    .row:after{
        content: "";
        display: table;
        clear: both;
    }

    </style>

    <div class="page-header"></div>
    <br>

        <div class="row">
        {% for recipe in recipes %}

            <div class="column2" style="background-color:#606060;">
                <h2> <center> Meal </center> </h2>
                <center><img src="{{recipe['url']}}" style="width:256px;height:256px"></center>
            </div>
        {% endfor %}
        </div>

        <div class="row">
        {% for recipe in recipes %}
            <div class="column" style="background-color:#606060;">
                <form id="r_form" action="#" method="post">
                    <input type="hidden" name="recipe_id"  value={{ recipe['id'] }}/>
                    <button type="submit">New Recipe</button>
                </form><br>
                <form id="d_form" action="/delete" method="post">
                    <input type="hidden" name="recipe_id"  value={{ recipe['id'] }}/>
                    <button type="submit">Delete Recipe</button>
                </form><br>
                <p>
                    <b> ID: {{ recipe['id'] }} <br>
                    <b> Title: {{ recipe['title'] }} </b><br><br>
                    <b> Ingredients: {% for ing in recipe['ingredients'] %} </b><br>
                        {{ ing }}
                    {% endfor %}<br><br>
                    <b> Instructions: {% for inst in recipe['instructions'] %} </b><br>
                        {{ inst }}
                    {% endfor %}<br>
                </p>
            </div>
        {% endfor %}
        </div>

    </div>
    </font>



{% endblock %}
